version: '3.9'
services:
  gitea:
    image: gitea/gitea:1.25.3@sha256:fee0e5e55da6d2d11186bf39023a772fe63d9deffc0a83283e3d8e5d11c2716a
    hostname: gitea
    container_name: gitea__gitea
    restart: unless-stopped

    environment:
      TZ: JST
      GITEA__service__REGISTER_MANUAL_CONFIRM: "true"

    volumes:
      - type: volume
        source: gitea_data
        target: /data

      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true

      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true

    expose:
      - 3000

    networks:
      - default
      - outband

    deploy:
      resources:
        limits:
          memory: 512m

  mariadb:
    image: mariadb:12.1.2@sha256:f54db0cb3ccfe9431aba6d08c65a1763c499789b116b4cb651dd7fcf325965b3

    hostname: mariadb
    container_name: gitea__mariadb
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: gitea
      MYSQL_USER: gitea
      MYSQL_PASSWORD: gitea
      MYSQL_DATABASE: gitea

    volumes:
      - type: volume
        source: mariadb_data
        target: /var/lib/mysql

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 512m

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    hostname: cloudflared
    container_name: gitea__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      default:
      outband:
      prometheus__cloudflared:
        aliases:
          - gitea__cloudflared

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  gitea_data:
    name: gitea__gitea_data
  mariadb_data:
    name: gitea__mariadb_data

networks:
  default:
    name: gitea__default
    internal: true

  outband:
    name: gitea__outband

  prometheus__cloudflared:
    name: prometheus__cloudflared 
    external: true
