version: '3.9'
services:
  gitea:
    image: gitea/gitea:1.25.4@sha256:17d18218be2dad1f8ed402a4f906989505c90ab8b66ee9befcecfb5d470133e7
    hostname: gitea
    container_name: gitea__gitea
    restart: unless-stopped

    environment:
      TZ: JST
      GITEA__service__REGISTER_MANUAL_CONFIRM: "true"

    volumes:
      - type: volume
        source: gitea_data
        target: /data

      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true

      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true

    expose:
      - 3000

    networks:
      - default
      - outband

    deploy:
      resources:
        limits:
          memory: 512m

  mariadb:
    image: mariadb:12.2.2@sha256:3ba727e641ef0ea24054e47c72a831b1067da32d5139c0405b629c25b115eb89

    hostname: mariadb
    container_name: gitea__mariadb
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: gitea
      MYSQL_USER: gitea
      MYSQL_PASSWORD: gitea
      MYSQL_DATABASE: gitea

    volumes:
      - type: volume
        source: mariadb_data
        target: /var/lib/mysql

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 512m

  cloudflared:
    image: cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    hostname: cloudflared
    container_name: gitea__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}

    networks:
      default:
      outband:
      prometheus__cloudflared:
        aliases:
          - gitea__cloudflared

    deploy:
      resources:
        limits:
          memory: 128m

volumes:
  gitea_data:
    name: gitea__gitea_data
  mariadb_data:
    name: gitea__mariadb_data

networks:
  default:
    name: gitea__default
    internal: true

  outband:
    name: gitea__outband

  prometheus__cloudflared:
    name: prometheus__cloudflared 
    external: true
